html {
  font-size: 16px;
}

@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.navbarStyle {
  color: white;
  width: 100%;
  background-color: #007bff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.navbarLinks {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .navbarLinks {
    display: none;
  }
}
.toggleButton {
  font-size: 25px;
  cursor: pointer;
}
@media only screen and (min-width: 900px) {
  .toggleButton {
    display: none;
  }
}
.toggleContainer {
  float: right;
  background-color: #93c5ee83;
  text-align: center;
}
.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

@media only screen and (max-width: 900px) {
  .toggleLinks {
    cursor: pointer;
  }
}
.links {
  color: white;
}
